---
import Layout from '../layouts/Layout.astro'
import Instagram from '../components/icons/instagram.astro'
import Gradient from '../components/Gradient.astro'
import Wattpad from '../components/icons/wattpad.astro'
import Button from '../components/Button.astro'
import SocialPink from '../components/SocialPink.astro'
import ListBagde from '../components/ListBagde.astro'
import InfoBook from '../components/InfoBook.astro'
import Image from '../components/Image.astro'
import Footer from '../components/Footer.astro'
import TableContent from '../components/TableContent.astro'
---

<Layout title='Libro No tan lejos de Mi. Autora: Judiber Alcala'>
  <Gradient />
  <main
    class='min-w-screen min-h-screen px-20 max-lg:px-5 justify-center flex flex-row pt-10 items-center max-lg:flex-col'
  >
    <div class='w-[70%] max-lg:w-[100%] p-12 flex flex-col'>
      <InfoBook />
      <ListBagde />
      <Button>Descrube el libro!</Button>
      <div class='flex flex-row gap-x-5 mt-10'>
        <SocialPink
          href='https://www.instagram.com/judiberalcala'
          aria-label='instagram'
        >
          <Instagram />
        </SocialPink>
        <SocialPink
          aria-label='wattpad'
          href='https://www.wattpad.com/story/182021845-no-tan-lejos-de-mi'
        >
          <Wattpad />
        </SocialPink>
      </div>
    </div>
    <Image />
  </main>
  <TableContent />
  <Footer />
</Layout>
