<footer
  class='w-[80%] mx-auto max-sm:w-[90%] mb-10 pt-5 border-t-2 flex-row flex justify-between border-t-slate-200/40'
>
  <p class='text-base text-neutral-800 font-medium'>
    Libro con Todos los derechos reservados
  </p>
</footer>
