<h1 class='text-neutral-800 text-4xl font-bold max-lg:w-[100%]'>
  No tan lejos de <span class='text-[#b65402]'>mi.</span>
</h1>
<h4 class='font-semibold text-neutral-800 text-xl mt-3'>
  Author: <span class='text-[#b65402] font-semibold'>Judiber Alcal치</span>
</h4>
<p class='text-neutral-600 w-[90%] max-lg:w-[100%] text-lg mt-4 font-normal'>
  <span class='font-medium text-neutral-700'>Descripci칩n:</span>
  Anabelle tiene sue침os planteados, metas que cumplir y un deseo muy grande se superarse
  por si misma, todo para demostrarle al mundo que no necesita del dinero y la fama
  familiar que la persigue. Pero el amor llega de improvisto, cambi치ndole su vida
  por completo.
</p>
